body {
    background: #333333;
    overflow: hidden;
    display: flex;
}

#root {
    flex: 1;
    display: flex;
}
.display-flex {
    display: flex!important;
}
.display-flex-column {
    display: flex!important;
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.main-content {
    flex: 1;
}
.app-sidebar-container {
    display: flex!important;
}
.app-sidebar {
    flex: 1;
    border-radius: 0!important;
}

.image-selected {
    border-color: #3578BC;
}

.extraPadding {
    padding-bottom: 12px;
    padding-top: 12px;
}
.image-dimmer-container {
    position: relative;
    cursor: pointer;
}
.image-dimmer-container:hover .image-dimmer {
    opacity: 1!important;
    display: block!important;
}
.image-dimmer .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
img {
    border: none!important;
}
.main-dimmer {
    z-index: 2000!important;
}
.step, .menu {
    border-radius: 0!important;
}
.steps, .menu {
    min-height: 69px!important;
}